<h1>Show Article</h1>

<p>
  <strong>Title: </strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body: </strong>
  <%= @article.body %>
</p>

<% unless @article.comments.length < 1 %>
  <h2>Comments</h2>
  <%= render @article.comments %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to "back", articles_path %>